@implements IAsyncDisposable

<div class="input-wrapper form-group" @ref="@input">
    <label for="@Id">@Label</label>
    @if (Type == "textarea")
    {
        <InputTextArea id="@Id" name="@Label" @bind-Value="@Binding" class="form-control" @oninput="validateInput">
        </InputTextArea>
    }
    else
    {
        <InputText id="@Id" name="@Label" type="@Type" @bind-Value="@Binding" class="form-control" @oninput="validateInput">
        </InputText>
    }
    @ChildContent
    
    @if (HelperText != null || (ValidationText != null || ValidationText != ""))
    {
        <small class="form-text text-muted">
            @(ValidationText ?? HelperText)
        </small>
    }
</div>

@code {
    [Parameter] public string Id { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public string Type { get; set; }
    [Parameter] public string HelperText { get; set; }
    [Parameter] public string Binding { get; set; }
    [Parameter] public EventCallback<string> BindingChanged { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    public string ValidationText { get; set; }
    private IJSObjectReference? module;

    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    private ElementReference input;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("console.log", $"connected JS in code");
            module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Shared/FormInput.razor.js");
        }
    }

    public async Task validateInput(ChangeEventArgs e)
    {
        if(Type != "email"){
            return;
        }
        string value = e.Value?.ToString() ?? "";
        string response = "";
        await JSRuntime.InvokeVoidAsync("console.log", $"Blazor validateInput() triggered with value: {value}");

        if (module != null)
        {
            response = await module.InvokeAsync<string>("validateEmailInput", value);
            await JSRuntime.InvokeVoidAsync("console.log", $"called JS with: {value}");
        }
        await this.BindingChanged.InvokeAsync(response);
        ValidationText = response;
    }

    public async void ConsoleLog(string message)
    {
        await JSRuntime.InvokeVoidAsync("console.log", message);
    }

    async ValueTask IAsyncDisposable.DisposeAsync(){
        if(module is not null){
            await module.DisposeAsync();
        }
    }
}
